.zitate__container {
  width: 66.66vw;
}

.zitatform--textarea {
  line-height: 1.2;
  font-size: 2em;
  width: 50vw;
}

li {
  display: grid;
  place-items: repeat;
  list-style-type: none;
}
